<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <style>
      body {
            background-image: url("{{ url_for('static', filename='img/background.jpg') }}");
        }
    </style>
</head>
<body>
  <header id="navbar">
    <div class="navbar">
        <div class="logo"><a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="">SwaadSagaar</a></div>
        <div class="text">
            <div><a href="/">Home</a></div>
            <div><a href="/products">Products</a></div>
            <div><a href="/cart">Cart</a></div>
            <div><a href="/wishlist">Wishlist</a></div>
        </div>
        {% if user_name %}
          <div>
            <div class="login"><span class="user_name">{{ user_name.title() }}</span><a href="/logout">Logout</a></div>
          </div>
        {% else %}
          <div class="login"><a href="/login">Login</a></div>
        {% endif %}
    </div>
  </header>
<div class="content">
{% block content %}
{% endblock %}
</div>
<footer>
  <div class="foorter_images">
      <a href="tel:+918447178403">
        <img src="{{ url_for('static', filename='img/telephone.png') }}" style="width: 30px; height: 30px; margin-right: 12px;" alt="Telephone Icon">
      </a>
      <a href="mailto:deshwaltushar17@gmail.com">
        <img src="{{ url_for('static', filename='img/email.png') }}" style="width: 30px; height: 30px; margin-right: 12px;" alt="Email Icon">
      </a>
      <a href="https://wa.me/918447178403" target="_blank">
        <img src="{{ url_for('static', filename='img/whatsapp.png') }}" style="width: 30px; height: 30px;" alt="WhatsApp Icon">
      </a>
  </div>
</footer>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="flashMessagesModal" class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-gray-800 bg-opacity-75">
      <div class="bg-white p-6 rounded shadow-lg flex flex-col items-center">
        <div class="mb-4">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
        <div class="flex justify-center">
          <button id="closeModalBtn" type="button" class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            OK
          </button>
        </div>
      </div>
    </div>
  {% endif %}
{% endwith %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const modal = document.getElementById('flashMessagesModal');
    const closeModalBtn = document.getElementById('closeModalBtn');

    closeModalBtn.addEventListener('click', function() {
      closeModal();
    });

    document.addEventListener('keydown', function (event) {
      if (event.key === 'Enter') {
        closeModal();
      }
    });

    function closeModal() {
      modal.style.display = 'none';
    }
  });
 
  // scrollTo section

  document.addEventListener("DOMContentLoaded", function() {

      var header = document.querySelector("header");

      function toggleHeaderBackground() {
        if (window.scrollY > 0) {
          header.classList.add("header-with-background");
        } else {
          header.classList.remove("header-with-background");
        }
      }
      
      toggleHeaderBackground();
      
      window.addEventListener("scroll", toggleHeaderBackground);
    });

</script>

</body>
</html>