<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart - Sonu SwaadSagaar</title>
    <style>
    .order a button {
    transition: background-color 0.3s ease;
    }
    </style>
</head>
<body >
    {% extends 'base.html' %}
    {% block title %}Your Cart{% endblock %}

    {% block content %}
    <div class="mx-auto flex max-w-3xl flex-col space-y-4 p-6 px-2 sm:p-10 sm:px-2">

        <h2 class="text-3xl font-bold" style="color: #98AFC7;">Thank you for choosing SwaadSagaar.</h2>
        <p class="mt-3 text-sm font-medium" style="color: #F0FFFF;">
            Your cart is filled with culinary delights waiting to be savored. Each item represents a delightful journey of flavors and textures. Proceed to checkout to make these items yours and indulge in a memorable dining experience.
        </p>

        {% for index, items in cart %}
        <div>
            <ul class="flex flex-col divide-y divide-gray-200" style="margin: 5; padding: 0; color: white;">
                <li class="flex flex-col py-6 sm:flex-row sm:justify-content" style="margin: 0; padding: 0;">
                    <div class="flex w-full space-x-2 sm:space-x-4">
                        <img class="h-20 w-20 flex-shrink-0 rounded object-contain outline-none dark:border-transparent sm:h-32 sm:w-32"
                            src="data:image/jpeg;base64,{{ items['image'] }}" alt="Example Image" />
                        <div class="flex w-full flex-col justify-between pb-4">
                            <div class="flex w-full justify-between space-x-2 pb-2" style="margin-top: 22px;">
                                <div class="space-y-1">
                                    <h3 class=" font-semibold leading-snug sm:pr-8">
                                        {{ items['name'] }}
                                    </h3>
                                </div>
                                <div class="text-right">
                                    <p class="text-lg font-semibold">${{ items['price'] }}</p>
                                </div>
                            </div>
                            <div class="flex divide-x text-sm" style="margin-bottom: 10px;">
                                <button type="button" class="flex items-center space-x-2 px-2 py-1 pl-0">
                                    <a href="{{ url_for('remove_from_cart', item_index=index) }}"><span>Remove</span></a>
                                </button>
                                <button type="button" class="flex items-center space-x-2 px-2 py-1">
                                    <a href="{{ url_for('move_to_wishlist', item_index=index) }}"><span>Add to Wishlist</span></a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        {% endfor %}

        <div class="space-y-1 text-right text-#778899" style="font-size: large; color: white;">
            <p>Total amount: <span class="font-semibold">${{item_price}}</span></p>
        </div>

        <div class="order  flex justify-end space-x-4">
            <a href="/products">
                <button type="button"
                    class="rounded-md border border-green-600 px-3 py-2 text-sm font-semibold text-green-600">Back
                    to shop
                </button>
            </a>
            <a href="/order">
                <button type="button"
                    class="rounded-md border border-red-600 px-3 py-2 text-sm font-semibold text-red-600 ">Place Order
                </button>
            </a>
        </div>
    </div>
    {% endblock %}
</body>

</html>
