<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>
    {% extends 'base.html' %}
    {% block title %}
      Welcome to SwaadSagaar
    {% endblock %}
    {% block content %}
    <div class="wrapper">
        <div class="login_box">
            <div class="login-header">
                <span>Password</span>
            </div>
            <form action="/set_password" method="post">
                <div class="input_box">
                    <input type="password" name="new_password" class="input-field" placeholder="Enter your new password" required>
                </div>
                <div class="input_box">
                    <input type="text" name="confirm_password" class="input-field" placeholder="Enter your confirm password" required>
                </div>
                <div class="input_box">
                    <input type="submit" class="input-submit" value="Save">
                </div>
                <div class="register">
                    <a href="/login">Back to login</a>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
    </body>
</html>
